:root {
    --black: #191414;
    --brown-1: #362622;
    --brown-2: #533830;
    --light-brown: #725A54;
    --light-brown-1: #917C78;
    --green: #009B79;
    --blue-green: #36969E;
    --blue: #6C91C2;
    --pink: #EF767A;
    --white: #F8FFF4;
}

#content {
  background: var(--green);
  color: var(--black);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;  
  
}

#greeting-container {
  margin-top: 20px;
}

#home {
    background-color: slategray;
}

.main_title {
    padding: 6rem;
}

.main_title h1 {
    font-size: 8.4rem;
    margin-bottom: 0em;    
}

.main_title h2 {
    font-size: 2.1em;
}

.about {
    height: 100%;
    min-height: 35em;
}

.header {
    padding: 40px 80px;
    text-align: center;
    background: slategray;
    color: white;
    text-align: right;
}

body {
    background: #191414;
}

.header h1 {
    font-size: 250px;
}