:root {
    --black: #191414;
    --jet: #3E3A3A;
    --brown-1: #362622;
    --brown-2: #533830;
    --light-brown: #725A54;
    --light-brown-1: #917C78;
    --green: #009B79;
    --blue-green: #36969E;
    --blue: #6C91C2;
    --pink: #EF767A;
    --white: #FFFFFF;
}

html { 
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    background: var(--black);
}

#content {
  /* background: var(--green);
  color: var(--black); */
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;

  background: linear-gradient(24deg, var(--black), var(--jet));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fwh-section {
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    background: var(--black);
    box-sizing: border-box;
    box-shadow: 0 0 21px 12px rgb(0 0 0 / 42%);
    /* border-radius: 2em; */
}

.fwh-section h1 {
    font-size: xx-large;
    text-align: center;
}

.fwh-slide p {
    margin: 0;
}

#greeting-container {
  margin-top: 20px;
}

#home {
    background-color: var(--green);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#home h1 {
    font-size: 10vw;
    margin-bottom: 0em;    
}

#home h2 {
    font-size: 3vw;
}

#about {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: none;
}

#about img {
    height: auto;
    max-height: -webkit-fill-available;
    width: auto;
    max-width: 100%;
}

#about h1 {
    margin-bottom: 0.001vh;
}

#about p {
    padding: 0 8% 8%;
}

/* #technologies {
    background: var(--pink);
} */

#about ul {
    text-align: center;
    list-style: none;
    line-height: 2;
    padding: 0 1vh 1vh;
    margin-top: 0.001vh;
}

#art-portfolio {
    background: var(--blue-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    min-height: 90vh;
}

#art-gallery {
    background: var(--black);
    display: flex;
    align-items: center;
    width: 100%;
    height: -webkit-fill-available;   
    min-height: 70vh; 
}

#servlet-redirect {
    background: var(--pink);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#servlet-redirect h1 {
    text-align: center;
}

#servlet-redirect a {
    text-decoration: none;
}

#contact-form {
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.servlet-response-container {
    background: var(--jet);
    color: var(--white);
    max-width: 40vw;
    max-height: 50vh;
    box-shadow: 0 0 25px 0px rgb(0 0 0 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3vh 5vw;
}

.fa {
    padding: 0.675em;
    font-size: 3vw;
    width: 3vw;
    text-align: center;
    text-decoration: none;
    border-radius: .825em;
    margin: 1.75vw;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
    background: #333;
    color: white;
}

.bottom-arrow {
    position: absolute;
    bottom: 10vh;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  bottom: 3;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.art-container {
    width: 35vw;
    position: relative;
    margin: auto;
}

.art-container img {
    max-width: 35vw;
    max-height: 60vh;
}

.caption-text {
  color: var(--white);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -5vh;
  width: 100%;
  text-align: center;
}

.slide {
    display: none;
    width: 35vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.slides-1:first-child, .slides-2:first-child {
    display: flex;
}

.left, .right {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    max-height: 90vh;
    justify-content: center;
}

.left {
    width: 55%;
    margin: 0 5% 0 0;
}

.left h1 {
    text-align: center;
    justify-content: center;
}

.right {
    width: 40%;
    padding: 5%;
    text-align: center;
    flex-direction: column;
    background: var(--black);
    box-shadow: 0 0 21px 12px rgb(0 0 0 / 42%);
    color: var(--white);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: var(--white);
    font-weight: bold;
    font-size: 21px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: -5%;
}

.next {
    right: -5%;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: var(--white);
    color: var(--black)
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
