:root {
    --black: #191414;
    --jet: #3E3A3A;
    --brown-1: #362622;
    --brown-2: #533830;
    --light-brown: #725A54;
    --light-brown-1: #917C78;
    --green: #009B79;
    --blue-green: #36969E;
    --blue: #6C91C2;
    --pink: #EF767A;
    --white: #FFFFFF;
}

html { 
    scroll-behavior: smooth; 
}

#content {
  /* background: var(--green);
  color: var(--black); */
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: center;
  align-items: center;
  background: ghostwhite;
  color: var(--black);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-container {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.top-bar {
  min-height: 8.75vh; 
  padding-bottom: 2.5vh; 
  width: inherit; 
  background-color: var(--pink);
}

#name {
  padding: 1vh 2vw;
  margin: 1vh 1vw;
}

#name h3 {
  font-size: medium;
}

#navBar {
  padding: 1vh 0.5vw;
  margin: 1vh 2vw;
}

#navBar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

#navBar li {
  margin: 0 1vw;
}

.cell {
  padding: 1.5%;
}

#home {
  background-color: var(--pink);
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#home h1 {
  font-size: 8vw;
  margin-bottom: 0em;   
  align-self: center;
}

#home h2 {
  font-size: 3vw;
  text-align: center;
}

#socials {
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#info {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1vh 5vw;
}

#info p {
  font-size: large;
  text-align: justify;
}

#about ul {
    list-style: none;
    line-height: 2;
    padding: 0 1vh 1vh;
    margin-top: 0.001vh;
}

.embedded-link {
  text-decoration: none;
  color: inherit;
}

.embedded-link:hover {
  color: var(--white);
}

#selfImg {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
}

#csprojects {
  min-height: 93.75vh;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 93.75vh;
  min-width: 250px;
  width: 30%;
  flex-wrap: nowrap;
  margin: 1vh 0.5vw;
  padding: 1vh 0.5vw;
}

.project-card a {
  color: inherit;
}

.project-card a:hover {
  color: var(--blue-green)
}

#project-header {
  min-height: 16.6%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1vh .05vw;
}

#project-header h1 {
  font-size: 3vmax;
}

#project-info {
  height: 50%;
  width: 100%;
  padding: 1vh .5vw;
  margin: 1vh 1vw;
  display: flex;
  flex-direction: column;
  font-size: 1.25vmax;
  overflow: auto;
}

#project-images {
  height: 33.4%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#project-images img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: .2vh .1vw; 
}

#artPieces {
  min-height: 93.75vh;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.art-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2vw;
    margin: 1vh 0.5vw;
    width: 30%;
    min-width: 250px;
    min-height: 90vh;
    height: 90vh;
    background-color: var(--black);
}

.art-holder {
    position: relative;
    margin: 0;
    height: 100%;
    width: auto;
    padding: 1%;
}

.art-holder img {
    max-height: 90%;
    max-width: 90%;
    margin: .2vh .1vw;
}

.slide {
    display: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.caption-text {
  color: var(--white);
  font-size: small;
  padding: 1%;
  margin: .1vh .1vw;
  max-width: 100%;
  text-align: center;
}

.slide:first-child {
    display: flex;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: var(--white);
    font-weight: bold;
    font-size: x-large;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: var(--white);
    color: var(--black)
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade:not(.show) {
  opacity: 100;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#contact-header {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#contact-header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-header h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-forms p {
  margin-top: .5vh;
  margin-bottom: 0;
}

#contact-forms textarea {
  width: 100%;  
}

#servlet-redirect {
    background: var(--pink);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#servlet-redirect h1 {
    text-align: center;
}

#servlet-redirect a {
    text-decoration: none;
}

.servlet-response-container {
    background: var(--jet);
    color: var(--white);
    min-width: 0;
    min-height: 0;
    max-width: 40vw;
    max-height: 50vh;
    box-shadow: 0 0 25px 0px rgb(0 0 0 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3vh 5vw;
    margin: 5%;
}

.navLink {
  text-decoration: none;
  font-size: medium;
  color: var(--white);
}

.fa {
    padding: 3%;
    font-size: 4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    margin: 3%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
    background: #333;
    color: white;
}